body {
  background: #0d0d0d;
  font-family: "Crimson Text", serif;
  overflow-x: hidden;
  padding-top: 50px;
}
h1 {
  font-size: 22px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
  font-weight: 600;
}
h4 {
  font-size: 17px;
}
h5 {
  font-size: 16px;
  font-weight: 600;
}
h6 {
  font-size: 14px;
}

.navbar {
  background: #333333;
  position: fixed;
  width: 100%;
    z-index: 3;
    top: 0;

}
.nav-logo {
  /* top: 0px; */
  position: absolute;
  font-style: italic;
}
.nav-logo > img {
  transform: rotate(20deg);
}
@media screen and (max-width:992px){
  .profile-img{
  display: none !important;
}
}
.top-nav-profile-img{
  display: none !important;
}
@media screen and (max-width:992px){
  .top-nav-profile-img{
    display: block !important;
  }
}

.menu-bar-container {
  display: inline-block;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .navbar {
    top: 0;
    padding-top: 0px !important;
    padding-bottom: 0px;
  }
  .nav-logo{
    top: 6px;
    align-items: center;
  }
  .nav-padding{
    padding: 6px;
  }
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.htunes-font {
  font-style: italic;
}
.text-white {
  color: white;
}
.gradient-btn {
  background: linear-gradient(
    108deg,
    rgba(199, 40, 99, 1) 47%,
    rgb(118, 32, 240) 98%
  );
  color: white;
  border: none;
  font-size: larger;
  border-radius: 8px;
  padding: 6px 24px 6px 24px;
}
.gradient-btn:hover {
  color: white !important;
}
.nav-item {
  justify-content: center;
  display: flex;
}

.nav-item > a {
  color: white;
  font-size: 20px;
  margin-left: 30px;
}
.custom-searchdropdown {
  position: absolute;
  top: 60px;
  width: 350px;
  cursor: pointer;
  /* height: 500px; */
  background: #3c3c3c;
  overflow-x: auto;
  z-index: 4;
}
.search-dropdown {
  position: absolute;
  top: 60px;
  cursor: pointer;
  height: 500px;
  background: #3c3c3c;
  overflow-x: auto;
  z-index: 4;
  /* display: none; */
}
@media screen and (max-width: 992px) {
  .search-dropdown {
    overflow-y: scroll;
    padding-left: 20px;
  }
}
/* .form-search{
    width:300px !important;
     margin-left: auto;
  } */
.search-imgs {
  width: 60px !important;
  height: 60px !important;
}
.search-content-container {
  display: flex;
  padding: 10px;
}
.search-content-text {
  padding-left: 8px;
}
.profile-info-dropdown{
  position: absolute;
  /* width: 350px; */
  max-width: 500px;
  padding: 15px;
  background: #272727;
  z-index:4;
  
}
.Recently-playedDropdown {
  position: static;
  cursor: pointer;
  width: 350px;
  background-color: transparent;
  margin-left: auto !important;
  margin-right: auto !important;
  margin: 6px;
}
@media screen and (max-width: 992px) {
  .navbar-toggler {
    margin-left: auto;
  }
}
@media screen and (max-width: 992px) {
  .nav-item > a {
    margin-left: 0 !important;
  }

  .search-options-menu {
    width: 50%;
    text-align: center;
  }
  .custom-searchdropdown {
    position: static;
    cursor: pointer;
    width: 350px;
    background-color: transparent;
    margin-left: auto !important;
    margin-right: auto !important;
    margin: 6px;
  }
  .search-dropdown {
    position: static;
    cursor: pointer;
    width: 350px;
    background-color: transparent;
    margin-left: auto !important;
    margin-right: auto !important;
    margin: 6px;
  }
  .form-search {
    width: 300px !important;
    margin-left: auto;
    margin-right: auto;
  }
  .Sign-in {
    margin-bottom: 10px;
  }
  .Sign-in > button {
    margin-bottom: 10px;
  }
}

.nav-item > a:hover {
  color: white;
}
.carousel-caption {
  margin-bottom: 20px;
}
.header-container {
  padding: 80px;
  max-width: 800px;
}
.header-container > h1 {
  font-size: 60px;
}
.main-header {
  padding-top: 50px;
}
.bg-img {
  background-image: url("../img/header-img.png");
  background-repeat: no-repeat;
  background-color: black;
  background-size: 600px;
  background-position-x: 90%;
  background-position-y: -10px;
}
.Htunes-btn {
  color: white;
  border: none;
  font-size: larger;
  border-radius: 8px;
  padding: 6px 24px 6px 24px;
  background: none;
  border: 2px solid white;
  position: relative;
  white-space: nowrap;
}
.Htunes-btn::after {
  top: 0;
  background: linear-gradient(
    108deg,
    rgb(134, 6, 173) 47%,
    rgb(32, 46, 240) 98%
  );
  height: 100%;
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  content: "";
  z-index: 1;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 1s;
}

.Htunes-btn > span {
  z-index: 2;
  position: relative;
}
.Htunes-btn:hover::after {
  opacity: 1;
}
@media screen and (max-width: 992px) {
  .header-container {
    padding: 50px;
  }
  .header-container > h1 {
    font-size: 50px;
  }
  .main-header {
    padding-top: 30px;
  }
  .bg-img {
    background-size: 400px;
  }
}

@media screen and (max-width: 540px) {
  .header-btn {
    width: 100%;
  }
  .subheader-btn {
    width: 100%;
    margin-left: 0 !important;
    margin-top: 12px !important;
  }
  .header-container {
    padding: 20px;
    max-width: 500px;
  }
  .header-container > h1 {
    font-size: 45px;
    text-align: center;
  }
  .Sign-in > button {
    width: 100%;
  }
}
@media screen and (max-width: 380px) {
  .header-container {
    padding-top: 0px;
  }
  .header-container > h1 {
    font-size: 30px;
    text-align: center;
  }
}

.all-cards-container {
  width: 100%;
  overflow-x: auto;
  padding-right: 12px;
  padding-left: 12px;
}
.htunes-cards {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.htunes-cards-text {
  text-align: center;
}

.home-page-cards {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.home-page-cards-text {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .htunes-cards {
    margin-left: 12px !important;
    max-width: 200px;
  }
  .home-page-cards {
    margin-left: 12px !important;
  }
  .top-songs-cards-text {
    font-size: small;
  }
  .top-songs-cards-text > span {
    font-size: small;
  }
  .imgs {
    max-width: 200px;
  }
}

@media screen and (max-width: 450px) {
  .htunes-cards {
    max-width: 150px;
  }
  .top-songs-cards-text {
    font-size: smaller;
  }
  .top-songs-cards-text > span {
    font-size: smaller;
  }
  .imgs {
    max-width: 150px;
  }
}

@media screen and (max-width: 992px) {
  .all-cards-container {
    justify-content: normal !important;
  }
}

@media screen and (max-width: 530px) {
  .htunes-cardstext {
    text-align: inherit;
  }
}

.view-more-btn {
  background: none;
  border: none;
}
.footer-htunes-logo > img {
  transform: rotate(20deg);
}
.Htunes-footer-text {
  font-style: italic;
}
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  background-color: black;
  opacity: 0.8;
}
.loader > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  background-color: #333333;
  transform: translate(-50%, -50%);
}
.playlist-cover {
  background-repeat: repeat;
  /* background-position: center; */
  background-size: contain;
  height: 400px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: rgb(189, 179, 179);
  margin-top: 10px;
}
.Htunes-input {
  /* background: transparent; */
  width: 400px;
  padding: 10px 10px 10px 10px;
  border-radius: 14px;
}

@media screen and (max-width: 450px) {
  .Htunes-input {
    width: 300px;
  }
}

.playlist-cover-bg {
  height: 430px;
}

.description {
  color: white;
}
.description a {
  color: rgb(255, 0, 255);
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 992px) {
  .addsong-btn-container {
    top: 10px;
  }
}

@media screen and (max-width: 762px) {
}

@media screen and (max-width: 562px) {
  .addsong-btn-container {
    top: 6px;
  }
}

.playlist-dropdown:hover {
  background: transparent;
}

.dropdown-toggle:hover {
  background: transparent;
}

@media screen and (max-width: 792px) {
  .playlist-cover-bg {
    background-color: transparent;
    height: inherit;
    padding: 10px;
  }

  .playlist-cover {
    background-position-x: center;
    height: 300px;
    background-repeat: no-repeat;
  }
}
[x-cloak] {
  display: none !important;
}
